<div>
  <div class="field">
    <label>Password </label>
    <div class="password-row">

      <div class="dots-container">
        @for (i of [0,1,2,3,4,5]; track i) {
        <div class="dot" [class.active]="value().length > i"></div>
        }
      </div>
      <button type="button" class="btn-clear-red" (click)="deleteLast()">
        &times;
      </button>
    </div>
  </div>

  <div class="numpad">
    @for (n of numbers; track n)
    {
    @if (n>=0) {
    <button type="button" (click)="addNumber(n)">
      {{ n }}
    </button>
    } @else {
    <button type="button" disabled="true">
      &nbsp;
    </button>
    }

    }
  </div>
</div>
