<app-auth-layout>

    <h1 class="title">
      Créer un compte <app-audio-icon color="#3bb273"></app-audio-icon>
    </h1>

    <p class="subtitle">Rejoignez MoneySur en quelques étapes</p>

    <div *ngIf="error()" class="error-banner">{{ error() }}</div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <app-label>Nom complet <app-audio-icon ></app-audio-icon></app-label>
      <input type="text" formControlName="fullName" placeholder="Robert Dupont" class="input" />

      <app-label>Adresse email <app-audio-icon ></app-audio-icon></app-label>
      <input type="email" formControlName="email" placeholder="exemple@email.com" class="input" />

      <app-label>Mot de passe <app-audio-icon ></app-audio-icon></app-label>
      <input type="password" formControlName="password" placeholder="........" class="input" />

      <app-label>Confirmez le mot de passe <app-audio-icon ></app-audio-icon></app-label>
      <input type="password" formControlName="confirmPassword" placeholder="........" class="input"
             [class.input-error]="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched" />
      <app-label>Type de profil <app-audio-icon></app-audio-icon></app-label>

      <div class="profile-type-container">
        <app-label class="profile-option">
          <input type="radio" formControlName="typeProfil" value="family">
         Famille
        </app-label>

        <app-label class="profile-option">
          <input type="radio" formControlName="typeProfil" value="senior">
           Senior
        </app-label>
      </div>

      <app-button variant="primary" type="submit" [disabled]="registerForm.invalid || loading()">
        <span *ngIf="!loading()">
           Créer mon compte <app-audio-icon color="#FFFFFF"></app-audio-icon>
        </span>
        <span *ngIf="loading()">Création en cours...</span>
      </app-button>
    </form>

    <p class="no-account">Vous avez déjà un compte ?</p>
    <app-button variant="secondary" type="button"  routerLink="/login">
      Se connecter <app-audio-icon color="#FFFFFF" ></app-audio-icon>
    </app-button>
</app-auth-layout>
