:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: 10px;
  cursor: pointer;
}


:host:hover {
  transform: scale(1.1);
}
