<app-auth-layout>

    <h1 class="title">
      Connexion
      <app-audio-icon></app-audio-icon>
    </h1>

    <p class="subtitle">
      Bienvenue sur MoneySur, votre application de paiement
    </p>

    <div *ngIf="error()" class="error-banner">{{ error() }}</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-label>Adresse email
        <app-audio-icon ></app-audio-icon>
      </app-label>
      <input type="email" formControlName="email" placeholder="exemple@email.com" class="input" />

      <app-label>Mot de passe
       <app-audio-icon></app-audio-icon>
      </app-label>
      <input type="password" formControlName="password" placeholder="........" class="input" />


      <app-button variant="primary" type="submit"  [disabled]="loginForm.invalid || loading()">
        <span *ngIf="!loading()"> Se connecter
         <app-audio-icon color="#FFFFFF" ></app-audio-icon>
        </span>
        <span *ngIf="loading()">Connexion...</span>
      </app-button>
    </form>

    <p class="no-account">Vous n'avez pas de compte ?</p>

    <app-button variant="secondary" type="button"  routerLink="/register">
      Créer un compte
     <app-audio-icon color="#FFFFFF" ></app-audio-icon>
    </app-button >
</app-auth-layout>
