<div class="login-container">
  <div class="login-card">

    <div class="logo-wrapper">
      <img src="logomoneysur.png" alt="MoneySur" class="logo" />
    </div>

    <h1 class="title">
      Connexion
  <app-audio-icon></app-audio-icon>

    </h1>

    <p class="subtitle">
      Bienvenue sur MoneySur, votre application de paiement
    </p>

    <div *ngIf="error()" class="error-banner">{{ error() }}</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Adresse email
   <app-audio-icon ></app-audio-icon></label>
      <input type="email" formControlName="email" placeholder="exemple@email.com" class="input" />

      <label>Mot de passe
   <app-audio-icon></app-audio-icon> </label>
      <input type="password" formControlName="password" placeholder="........" class="input" />

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid || loading()">
        <span *ngIf="!loading()">→ Se connecter
   <app-audio-icon color="#FFFFFF" ></app-audio-icon></span>
        <span *ngIf="loading()">Connexion...</span>
      </button>
    </form>

    <p class="no-account">Vous n'avez pas de compte ?</p>
    <button type="button" class="btn-secondary" routerLink="/register">
      Créer un compte
    <app-audio-icon color="#FFFFFF" ></app-audio-icon>
    </button>
  </div>
</div>
