.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f8;
}

.login-card {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 90px;
}

.title {
  color: #174a8b;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: #333;
  margin-bottom: 30px;
}

label {
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #174a8b;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.input:focus {
  border-color: #0f3b70;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  margin-top: 25px;
  border: none;
  border-radius: 14px;
  background-color: #174a8b;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0f3b70;
}

.no-account {
  margin-top: 30px;
}

.btn-secondary {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  background-color: #3bb273;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #2f945f;
}
